/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: #eee;
}

#container {
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

#card {
  width: 400px;
  height: 450px;
  position: relative;
  user-select: none;
}

img,
canvas {
  border-radius: 10px;
}

#card:active {
  transform: scale(1.05);
}
 */
.container {
  position: relative;
  display: flex;
  width: 333px;
  height: 150px;
  padding: 12px;
  border-radius: 12px;
}

#robot {
  width: 333px;
  height: 60px;
  position: absolute;
  bottom: 1px;
  top: 8px;
  /* top:12px; */
  /* 
  

  left: 0px; */
  z-index: 1;
  /* -webkit-box-shadow: 0px 0px 20px 0px #707070;
  -moz-box-shadow: 0px 0px 20px 0px #707070;
  box-shadow: 0px 0px 20px 0px #707070; */
}

#redux {
  /* top: 15px; */
  width: 333px;
  height: 150px;
  position: absolute; 
  top: 32px;
        /* left: 0px;  */
  z-index: 2;
}