
.container {
  position: relative;
  display: flex;
  width: 290px;
  height: 150px;
  padding: 12px;
  border-radius: 12px;
}

#robot {
  width: 290px;
  height: 60px;
  position: absolute;
  bottom: 1px;
  top: 8px; 
  z-index: 1; 
}

#redux { 
  width: 290px;
  height: 150px;
  position: absolute; 
  
  z-index: 2;
}